.axis {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: hsl(0, 0%, 87%);/*#798189;*//*#626b73;*//*#000;*/
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.x.axis, .y.axis {
	fill: #798189; /*#626b73;*/
}

rect:hover {
	cursor:pointer;
	fill:brown;
}

.shadow {
	-webkit-filter: drop-shadow( -5px -5px 15px red );
            filter: drop-shadow( -5px -5px 15px red );
}

#statsChart svg.empty {
	opacity:0.6;
}

#statsChart svg.full {
	opacity:1;
}

#statsChart svg {
	background-color:hsl(228, 24%, 96%);
}