/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	/*#statsDetails .statsTable .tHead {
		font-size:1em;
	}*/
	
	.statsElement.left, .statsElement.right {
		float:none;
		padding:10px 10px;
	}
	.statsElement.left {
		width:100%;
	}
	.statsElement.right {
		width:100%;
	}
	#container {
		min-height: 1130px;
	}
	#statsDetails .statsTable .tHead {
		font-size:1.1em;
	}
	
}

/* Small Devices, Tablets -- 768px -- */
@media only screen and (max-width : 768px) {



}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	
	#container {
		/*min-height: ...px;*/
	}
	
	#statsDetails .statsTable {
		/*height: >300 ...px;*/
	}

	.statsElement.left, .statsElement.right {
		padding:10px;
	}

	#statsDetails .statsTable .column.first {
		/*width:150px;*/
		width:100%; /*15%;*/
		float:none;
	}
	
	#statsDetails .statsTable .column.second, 
	#statsDetails .statsTable .column.third  {
		/*width:200px;*/
		width:50%;/*17.5%;*/
	}
	
	#statsDetails .statsTable.full .pad.extra {
		display:block;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}