@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	/*font-family: 'Raleway', Arial, sans-serif;*/
	-webkit-font-smoothing: antialiased;
	background-color:#d6d8d9;
}

.clear {
	clear:both;
}

.select:hover {
	cursor:pointer;
}

#wrapper {
	background: url(../img/map.jpg);
    background-repeat:no-repeat;
    /*background-size: 50% 50%;*//*???*/
	background-size: cover;
}

#container {
	position: relative;
	min-height: 820px;
	max-width:1200px;
	margin:0 auto !important;
}

.footnote {
    font-size: x-small;
}	




#header {
	position:absolute;
	top:20px;
	right:20px;
	color:hsl(0, 0%, 92%);
	text-rendering: optimizeLegibility;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	/*color:hsl(341, 72%, 61%);*/
}

#header div {
	display:inline-block;
}

#header .title {
	font-size:1.5em;
	font-weight:200;
	letter-spacing: -1px; 
	white-space: nowrap;
}

#header .credits {
	padding-left:7px;
	color:hsl(0, 0%, 90%);
}

#header .credits .glyphicon {
	font-size:0.6em;
}


#footer {
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	text-align:right;
	/*margin-top:20px;*/
	color: hsl(0, 0%, 33%);
	font-weight: 200; 
}

#footer .top {
	padding:10px;
	background-color:#c9cccd;/*#b9bdbf*/
}

#footer .bottom {
	padding:10px;
	font-size:0.9em;
	background-color:#d6d8d9;
}

#footer .logo {
	text-rendering: optimizeLegibility; 
	display:inline-block;
	letter-spacing: -1px; 
	white-space: nowrap; 
	font-size:1.3em;
}

#footer a {
	text-decoration:none;
	color: hsl(0, 0%, 33%);
}

#footer a:hover {
	text-decoration: underline;
}



#utils {
	position:absolute;
	top:20px;
	left:20px;
}

#circle {
	font-size:2.5em;
}

#circle {
	width: 60px;
	height: 60px;
	line-height: 55px;
	text-align:center;
	color:hsl(341, 72%, 61%);
	border: 1px solid silver;
	-webkit-border-radius: 30px;
	   /*-moz-border-radius: 30px;
	    -ms-border-radius: 30px;
		 -o-border-radius: 30px;*/
		 	border-radius: 30px;
	/*-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;*/
}
/*
@-webkit-keyframes pulse {
	from { -webkit-transform: scale3d(0.9,0.9,1); }
	to { -webkit-transform: scale3d(1,1,1); }
}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.9,0.9,1); transform: scale3d(0.9,0.9,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}
*/

#forceGraph {
	width:100%;
}





/* STATS - START */

#stats {
	width:100%;
	color:#626b73;
}

/*  transparent background
	[	#BCE27F: rgb(188, 226, 127), 
		#F2F3F7: [hsl(228, 24%, 96%), rgb(242, 243, 247)]	]
 */

#stats {
	-webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
}

#stats.ng-hide {
	opacity:0;
}

#statsChart svg, 
#statsDetails .statsTable {
	/*box-shadow: -5px -5px 15px rgba(48,54,61,0.2);*/
}

.statsElement.left, .statsElement.right { 
	padding: 10px;
	float:left;
	width:50%;
}

.statsElement.right {
	/*width: 50%;*/
}

#statsDetails, #statsChart {
	width:100%;
}

#statsChartLabel {
	text-align:center;
	padding:10px;
	background-color:hsl(228, 24%, 96%);/* === #f2f3f7 */
	/*color:#626b73;*/ /*hsl(270, 2%, 25%);*/ /*hsl(210, 14%, 69%);*/ /* === #a5b0bb */
}

#statsChartLabel {
	/* opacity */
	-webkit-transition: opacity linear 0.3s, -webkit-transform 0.3s;
		 	transition: opacity linear 0.3s, transform 0.3s;
	/* set initial position on ng-show */
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
			transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

#statsChartLabel.ng-hide {
	opacity:0;
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
			transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
}



/* STATS - END */



.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(242, 243, 247) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(242, 243, 247, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DF2F3F7, endColorstr=#4DF2F3F7);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DF2F3F7, endColorstr=#4DF2F3F7)";
}

#toolsSelect, #toolsNode, #toolsInit {
	z-index: 9999;
	position:absolute;
	padding: 15px;
}

#toolsInit {
	opacity:1;
	font-family: 'Gochi Hand', cursive;
	font-size:1.2em;
	color:white;
	width: 180px;
	left:80px;
	padding:15px;
	text-align:center;
	border-radius: 20px;/*20px/50%*/
	background-color: hsl(341, 72%, 61%);
	-webkit-font-smoothing: antialiased;
	/*box-shadow: -5px -5px 15px rgba(48,54,61,0.2);*/
}

#toolsSelect, #toolsNode {
	margin-top:30px;
	width:200px;
	left:10px;
	opacity:1;
	/*box-shadow: -5px -5px 15px rgba(48,54,61,0.2);*/
}

#toolsSelect aside, #toolsNode aside {
	/*background-color:hsl(228, 24%, 96%);*/
	/*padding:10px;*/
	color:hsl(270, 2%, 25%);
	max-height: 270px;
	overflow:scroll;
	/*box-shadow: -5px -5px 15px rgba(48,54,61,0.2);*/
}

/******************************************/
/* START: Show/hide effects for the utils */
/******************************************/

#toolsSelect, #toolsNode, #toolsInit {
	/* opacity */
	-webkit-transition: opacity linear 0.3s, -webkit-transform 0.3s;
		 	transition: opacity linear 0.3s, transform 0.3s;
	/* set initial position on ng-show */
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
			transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}


/*  When angular hides the element, class "ng-hide" is added.
	We set the transition outcome (opacity set to 0)
	and move the div slightly.
*/

#toolsInit.ng-hide {
	opacity:0;
	-webkit-transform-origin: -2em 50%;
			transform-origin: -2em 50%;
	-webkit-transform: translate3d(0,0,0) rotate3d(1,1,1,30deg);
			transform: translate3d(0,0,0) rotate3d(1,1,1,30deg);
}

#toolsSelect.ng-hide, #toolsNode.ng-hide {
	opacity:0;
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	   		transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
}

/******************************************/
/* END */
/******************************************/
