#toolsNode aside .element {
	padding:5px 0px;
}

#toolsNode aside .entity {
	padding:5px 5px 5px 10px;
}

#toolsNode aside .remove {

}

#toolsNode aside .delete {
	
}

#toolsNode aside .select:hover {
	background-color:hsl(0, 0%, 87%);
	-webkit-transition: all linear 0.3s;
	transition: all linear 0.3s;
}

#toolsNode aside .head {
	font-weight: bold;
	margin-bottom:5px;
	font-size:1.1em;
}

#toolsNode aside .bold {
	font-weight: bold;
}

#toolsNode aside .glyphicon-ok {
	color:green;
}
