<aside>

	<style>
		#toolsNode aside .element {
			padding:5px 0px;
		}
		
		#toolsNode aside .entity {
			padding:5px 5px 5px 10px;
		}
		
		#toolsNode aside .remove {
		
		}
		
		#toolsNode aside .delete {
			
		}
		
		#toolsNode aside .select:hover {
			background-color:hsl(0, 0%, 87%);
			-webkit-transition: all linear 0.3s;
			transition: all linear 0.3s;
		}
		
		#toolsNode aside .head {
			font-weight: bold;
			margin-bottom:5px;
			font-size:1.1em;
		}
		
		#toolsNode aside .bold {
			font-weight: bold;
		}
		
		#toolsNode aside .glyphicon-ok {
			color:green;
		}
		
	</style>
	
	<!---------------
		Always shown:
		--------------->
	
	<div class="head">{{dataLookup.citiesIndex[entitySelected.id].name}}</div>
	<div class="element">Population: {{dataLookup.population[entitySelected.id] | number:0}}</div>
	
	<!-----------------------------
		Include/Exclude from Stats:
		----------------------------->

	<div ng-switch on="getActiveGroup(entitySelected.group.id)">
		<div ng-switch-when="null">
			<div ng-click='activateEntity(entitySelected.id)'
				 class='select element'>
				 <span class="glyphicon glyphicon-plus"></span><span> Include in Stats</span>
			</div>
		</div>
		<div ng-switch-default>
			<div ng-if="entitySelected.group.entities.length === 1" 
				 ng-click='deactivateEntity(entitySelected.id)'
				 class='select element'>
				 <span class="glyphicon glyphicon-ok"></span><span> Included in Stats</span>
			</div>
			<div ng-if='entitySelected.group.entities.length > 1' 
				 class="element">
				<span class="glyphicon glyphicon-ok"></span><span> Included in Stats</span>
			</div>
		</div>
	</div>
	
	<!---------------
		Group with...
		--------------->
	
	<div ng-if="entitySelected.group.entities.length > 1"
		 class="element bold">
		Grouped with 
		<span ng-repeat='entity in entitySelected.group.entities | filter: differentIDs'>
			{{dataLookup.citiesIndex[entity.id].name}}&nbsp;
		</span>
	</div>
	
	<div ng-switch on="modelLookup.groupsActive.groups.length">
	
		<div ng-switch-when='0'></div>
	
		<div ng-switch-when='1'>
			<div ng-if='modelLookup.groupsActive.find(entitySelected.group.id) === null'>
				<div class="element">
					Group with
				</div>
				<div ng-repeat='group in modelLookup.groupsActive.groups | filter: filterGroups' 
					 ng-click='groupWithActiveEntity(entitySelected.id, group.entities[0].id)'
					 class='select element entity'>
					 <!-- Group {{group.id}} -->
					 <div>
						<span ng-repeat='entity in group.entities'>{{dataLookup.citiesIndex[entity.id].name}} </span>
					</div>	
				</div>
			</div>
		</div>
	
		<div ng-switch-default>
		
			<div ng-switch on='entitySelected.group.entities.length'>
				<div ng-switch-when='1'>
					<div class="element">
						Group with
					</div>
					<div ng-repeat='group in modelLookup.groupsActive.groups | filter: filterGroups' 
						 ng-click='groupWithActiveEntity(entitySelected.id, group.entities[0].id)'
						 class='select element entity'>
						 <!-- Group {{group.id}} -->
						 <div>
							<span ng-repeat='entity in group.entities'>{{dataLookup.citiesIndex[entity.id].name}} </span>
						</div>
					</div>
				</div>
		
				<div ng-switch-default>
					<div ng-if='!entitySelected.groupOwner'>
						<div class="element">
							Group with
						</div>
						<div ng-repeat='group in modelLookup.groupsActive.groups | filter: filterGroups' 
							 ng-click='groupWithActiveEntity(entitySelected.id, group.entities[0].id)'
							 class='select element entity'>
							 <!-- Group {{group.id}} -->
							 <div>
								<span ng-repeat='entity in group.entities'>{{dataLookup.citiesIndex[entity.id].name}} </span>
							</div>
						</div>						
					</div>					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	
	<!--------------------------------
		Shown only if not group owner:
		-------------------------------->
	
	<div ng-if='!entitySelected.groupOwner'>
		<div ng-click='removeFromGroup(entitySelected.group.id, entitySelected.id, false)'
			 class='select element remove'>
			 <span class=""></span><span> Remove from group</span>
		</div>
		<div ng-click='removeFromGroup(entitySelected.group.id, entitySelected.id, true)'
	 		 class='select element remove'>
			 <span class=""></span><span> Remove from group and Activate</span>
		</div>
	</div>
	
	<!--------------
		Remove Node:
		-------------->
	
	<div ng-if="!(entitySelected.groupOwner && entitySelected.group.entities.length > 1)" 
		 ng-click='removeEntity(entitySelected.id)'
		 class='select element remove'>
		 <span class="glyphicon glyphicon-remove delete"></span><span> Remove Node</span>
	</div>

</aside>