<aside>
	<style>

		#toolsSelect aside .select {
			padding:5px;
			/*border-bottom:1px solid hsl(0, 0%, 87%);*/
		}
		
		#toolsSelect aside .select:hover {
			background-color:hsl(0, 0%, 87%);
			-webkit-transition: all linear 0.3s;
			transition: all linear 0.3s;
		}
		
		#toolsSelect aside .select .glyphicon {
			padding-right:10px;
		}
		
		#toolsSelect aside .head {
			font-weight: bold;
			margin-bottom:5px;
		}

	</style>
	<div class='clear head'>Places to explore</div>
	<div ng-repeat="item in dataLookup.cities" class='select' ng-click='addNode(item.id)'>
		<span class=""></span><span>{{item.name}}</span>
	</div>
</aside>